@charset "UTF-8";



.card .card-img-top{
	width: auto!important;
	height: auto !important;
}

 .card .btnDetails  {
	display: inline-block !important;
    padding: 10px 20px!important;
    border-radius: 5px!important; 
    background-color: #FFF!important; 
    color: #E12008!important; 
    text-decoration: none !important; 
    border: 1px solid #e12008 !important;
    cursor: pointer!important;
    font-size: 14px !important;
   
   
}

.local {
	font-size: 18px ;
	text-align: center!important;

}

.menu-card .card-text {
	font-size: 20px !important;
}


@media screen and (min-width: 1024px) {
	
	.local {
	font-size: 40px ;
	
	}
	}