.card-connection {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 50px auto;
    border: 1px solid #038C3E;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 10px 8px 20px 5px #e8e5e5;
    overflow: hidden;
}

.connection-picture {
    flex: 1;
    overflow: hidden;
}

.connection-picture img {
    width: 100%;
    height: auto;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    display: block;
    object-fit: contain;
}

.form-fields {
    flex: 2;
    padding: 20px;
}

.form-fields h2 {
    margin-top: 0;
}

.form-fields p {
    margin-bottom: 10px;
}

.input {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px; 
}

.boutonConnection {
    text-align: center;
    margin-top: 20px;
}

.connection {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    color: #e12008;
    text-decoration: none;
    border: 1px solid #e12008;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    width: 20em; 
}
