<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>ProjetFilRougeClient</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>ServletAccueil</display-name>
		<servlet-name>ServletAccueil</servlet-name>
		<servlet-class>controller.servlet.ServletAccueil</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletAccueil</servlet-name>
		<url-pattern>/accueil</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletDetailResto</display-name>
		<servlet-name>ServletDetailResto</servlet-name>
		<servlet-class>controller.servlet.ServletDetailResto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletDetailResto</servlet-name>
		<url-pattern>/detailResto</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletMyAccount</display-name>
		<servlet-name>ServletMyAccount</servlet-name>
		<servlet-class>controller.servlet.ServletMyAccount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletMyAccount</servlet-name>
		<url-pattern>/myAccount</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletDeleteProfile</display-name>
		<servlet-name>ServletDeleteProfile</servlet-name>
		<servlet-class>controller.servlet.ServletDeleteProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletDeleteProfile</servlet-name>
		<url-pattern>/deleteProfile</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletUpdateProfile</display-name>
		<servlet-name>ServletUpdateProfile</servlet-name>
		<servlet-class>controller.servlet.ServletUpdateProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletUpdateProfile</servlet-name>
		<url-pattern>/updateProfile</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletInscription</display-name>
		<servlet-name>ServletInscription</servlet-name>
		<servlet-class>controller.servlet.ServletInscription</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletInscription</servlet-name>
		<url-pattern>/ServletInscription</url-pattern>
	</servlet-mapping>
	  <servlet>
    <description></description>
    <display-name>ServletTraitementReservation</display-name>
    <servlet-name>ServletTraitementReservation</servlet-name>
    <servlet-class>controller.servlet.ServletTraitementReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTraitementReservation</servlet-name>
    <url-pattern>/ServletTraitementReservation</url-pattern>
  </servlet-mapping>
</web-app>